---
layout: default
---

<div class="list-page">
  
  <h1 class="page-title mb-4">{{ page.title }}</h1>

  <div class="row">
    {% assign item_type = page.type %}
    {% assign item_value = page.title %}

    {% comment %} 
      Este é o loop correto que varre TODOS os projetos. 
    {% endcomment %}
    {% for projeto in site.posts %}
      
      {% comment %} 
        Esta é a condição correta que compara o projeto ATUAL.
      {% endcomment %}
      {% if item_type == 'category' and projeto.categories contains item_value or 
            item_type == 'semestre' and projeto.semestre == item_value or 
            item_type == 'tag' and projeto.tags contains item_value %}

        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div style="height: 200px; background-color: #eee;"></div>
            <div class="card-body">
              <h5 class="card-title">
                <a href="{{ projeto.url }}" class="text-decoration-none">{{ projeto.title }}</a>
              </h5>
              <p class="card-text"><small>{{ projeto.aluno }}</small></p>
            </div>
          </div>
        </div>
        
      {% endif %}
    {% endfor %}
  </div>

</div>