---
layout: default
---

<div class="list-page">
    {% if page.list_title %}{% assign page_value = page.list_title %}{% else
    %}{% assign page_value = page.title %}{% endif %}
    <h1 class="page-title">{{ page_value }}</h1>
    <hr class="section-divider" />

    <div class="row">
        {% assign item_type = page.type %}{% assign item_value = page_value |
        downcase %} {% for projeto in site.posts %} {% assign found = false %}
        {% if item_type == 'category' %}{% for cat in projeto.categories %}{%
        assign cat_down = cat | downcase %}{% if cat_down == item_value %}{%
        assign found = true %}{% endif %}{% endfor %} {% elsif item_type ==
        'tag' %}{% for tag in projeto.tags %}{% assign tag_down = tag | downcase
        %}{% if tag_down == item_value %}{% assign found = true %}{% endif %}{%
        endfor %} {% elsif item_type == 'semestre' %}{% assign semestre_down =
        projeto.semestre | downcase %}{% if semestre_down == item_value %}{%
        assign found = true %}{% endif %} {% endif %} {% if found == true %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a
                    href="{{ projeto.url }}"
                    class="d-block card-img-placeholder"
                    style="background-image: url('{{ projeto.imagem_capa | default: '/assets/images/placeholder.jpg' }}')"
                ></a>
                <div class="card-body">
                    <div class="card-meta-badges">
                        {% if projeto.categories.size > 0 %}
                        <a
                            href="/categorias/{{ projeto.categories | first | slugify }}/"
                            class="category-badge-outline mb-2"
                            >{{ projeto.categories | first }}</a
                        >
                        {% endif %} {% if projeto.premio and projeto.premio !=
                        "" %}
                        <span class="award-tag me-2 mb-2"
                            >{{ projeto.premio }}</span
                        >
                        {% endif %}
                    </div>
                    <h5 class="card-title">
                        <a href="{{ projeto.url }}" class="text-decoration-none"
                            >{{ projeto.title }}</a
                        >
                    </h5>
                    <p class="card-text"><small>{{ projeto.aluno }}</small></p>
                </div>
            </div>
        </div>
        {% endif %} {% endfor %}
    </div>
</div>
